<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.putileaf.healthify.mapper.DrugsMapper">
    <select id="listByNames" resultType="com.putileaf.healthify.entity.Drugs">
        SELECT * FROM drugs WHERE name IN
        <foreach collection="names" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
